<h1 class="titulo">Unidades de Atendimento</h1>
<div class="container plano-externo">
    <div class="item item1">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Posto de Saúde Emaús
      </label> 
      <p>Rod BR-101, 8 - Emaús - Parnamirim, RN - CEP: 59149-070</p>
      <a routerLink="#" href="#">
        <button type="submit" class="btn btn-primary">Como chegar</button>
       </a>
    </div>
    <div class="item item2">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck2">
        Posto Emaús Com. e Ind.
      </label>
      <p>Rua Dom Bosco, 186 - Emaús - Parnamirim - RN</p>
      <a routerLink="#" href="#">
        <button type="submit" class="btn btn-primary">Como chegar</button>
       </a>
    </div>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <!-- <div class="item item3"><a href="#">Manual</a></div> -->
</div>
<div class="botoes">
  <a routerLink="#" href="#" class="botao1">
    <button type="submit" class="btn btn-primary">Cancelar</button>
   </a>
   <a routerLink="#" href="#" class="botao2">
     <button type="submit" class="btn btn-primary">Confirmar</button>
    </a>
</div>
  
