<div class="container plano-externo">
  <div class="item item1">
    <a routerLink="/formulario" href="#" title="Clique para preencher o formulário">
      <img src="\assets\images\checking.png" alt="">
    </a> 
    <p href="formulario" id="f">Formulário</p>
  </div>
  <div class="item item2">
    <a routerLink="#" href="#">
      <img src="\assets\images\return-to-the-past.png" alt="">
    </a>
    <p>Histórico</p>
  </div>
  <div class="item item3">
    <a routerLink="#" href="#">
      <img src="\assets\images\guide.png" alt="">
    </a>
    <p>Manual</p>
  </div>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <!-- <div class="item item3"><a href="#">Manual</a></div> -->
</div>
