<!-- <header>
    <h1 class="fL">
      <a>SUSMap</a>
    </h1>
</header>
<div class="container">
      <div class="item item1"><a href="formulario" title="Clique para preencher o formulário" id="f">Formulário</a></div>
      <div class="item item2"><a href="#">Histórico</a></div>
      <div class="item item3"><a href="#">Manual</a></div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3e0ff;">
  <a class="navbar-brand" href="#">SUSMAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <!-- <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a> -->
      <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </div>
  </div>
  <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">
          <img src="assets\images\logout.png" alt="" style="width: 5%">
        <span class="sr-only">(current)</span>
        </a>
      </div>
    </div> -->
</nav>
<!-- <h1>SUSMAP</h1> -->
<div class="container plano-externo">
  <div class="item item1">
    <a href="#" title="Clique para preencher o formulário">
      <img src="\assets\images\checking.png" alt="">
    </a> 
    <p href="formulario" id="f">Formulário</p>
  </div>
  <div class="item item2">
    <a href="#">
      <img src="\assets\images\return-to-the-past.png" alt="">
    </a>
    <p>Histórico</p>
  </div>
  <div class="item item3">
    <a href="#">
      <img src="\assets\images\guide.png" alt="">
    </a>
    <p>Manual</p>
  </div>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <!-- <div class="item item3"><a href="#">Manual</a></div> -->
</div>
