<nav  *ngIf="visualizarMenu()" class="navbar navbar-expand-lg navbar-light" style="background-color: #b3e0ff;">
    <a class="navbar-brand espaco" href="#" id="espaco" routerLink="#">SUSMAP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/menu" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a routerLink="" class="nav-item nav-link active logout" href="#">Sair <span class="sr-only">(current)</span></a>
      </div>
    </div>
  
</nav>