<h1 class="titulo">Selecione um dos qualificadores</h1>

<section class="box-qualificadores">

   <div class="qualificador" *ngFor="let sintoma of this.sintomas">
     <h3>{{ sintoma.title }}</h3>     
     <select>
        <option value="">Selecione</option>
       <option value="" *ngFor="let qualificador of sintoma.qualificadores ">{{ qualificador.title }}</option>
     </select>
   </div>
       <a routerLink="/unidade-atendimento" href="#">
        <button type="submit" class="btn btn-primary">Próximo</button>
       </a>
       
</section>


