<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3e0ff;">
  <a class="navbar-brand espaco" href="#" id="espaco">SUSMAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="" class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    </div>
  </div>

</nav>
 <!--<div class="container plano-externo">
  <div>
      <h2>Preencha o formulário abaixo:</h2>
  </div>
  
 <form id="formulario"> 
      <fieldset>
          <legend>Sintomas</legend>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Contrações em gestantes</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">Diárreia</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3">Dor de cabeça</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck4">
          <label class="custom-control-label" for="customCheck4">Dor nas costas</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck5">
          <label class="custom-control-label" for="customCheck5">Dor para urinar</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck6">
          <label class="custom-control-label" for="customCheck6">Dor na garganta</label>
      </div>
      <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck7">
          <label class="custom-control-label" for="customCheck7">Fratura na clavícula</label>
      </div>
    </fieldset>
      <button type="submit" class="btn btn-primary">Próximo</button>
    </form>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</div>

-->

<h1 class="titulo">Selecione um dos qualificadores</h1>

<section class="box-qualificadores">

   <div class="qualificador">
     <h3>PRC</h3>
     <select name="prc" id="prc">
       <option value="" disabled>Selecionar</option>
       <option value="parada respiratória">Parada Respiratória</option>
       <option value="parada respiratória">Parada Agônica</option>
     </select>
   </div>

   <div class="qualificador">
    <h3>Trauma Maior</h3>
    <select name="traumaMaior" id="traumaMaior">
        <option value="" disabled>Selecionar</option>
        <option value="lesão grave">Lesão Grave de únicos multiplos sistemas</option>
        <option value="lesão grave">Trauma Torácico</option>
        <option value="lesão grave">Lesões múltiplas de menbros com desalinhamento</option> 
    </select>
  </div>

  <div class="qualificador">
    <h3>Choque</h3>
    <select name="prc" id="prc">
      <option value="" disabled>Selecionar</option>
      <option value="parada respiratória">Hipotensão</option>
      <option value="parada respiratória">Taquicardia</option>
      <option value="parada respiratória">Alteração do estado de consciência</option>
    </select>
  </div>

  <div class="qualificador">
   <h3>Insuficiência Respiratória</h3>
   <select name="insuficienciaRespiratoria" id="insuficienciaRespiratoria">
      <option value="" disabled>Selecionar</option>
     <option value="lesão grave">Letargia</option>
     <option value="lesão grave">Saturação</option>
   </select>
 </div>

 <div class="qualificador">
  <h3>COMA</h3>
  <select name="coma" id="coma">
      <option value="" disabled>Selecionar</option>
    <option value="parada respiratória">Parada Respiratória</option>
    <option value="parada respiratória">Parada Agônica</option>
  </select>
</div>

<div class="qualificador">
 <h3>Queimaduras</h3>
 <select name="queimaduras" id="queimaduras">
    <option value="" disabled>Selecionar</option>
   <option value="queimaduras">Dados vitais alterados</option>
   <option value="queimaduras">Queimaduras elétricas</option>
   <option value="queimaduras">Dados vitais normais</option>
   <option value="queimaduras">Queimaduras de 1º grau < 10% SCQ em áreas não críticas</option>
 </select>
</div>
<div class="qualificador">
    <h3>Dados vitais alterados com sintomas </h3>
    <select name="traumaMaior" id="traumaMaior">
       <option value="" disabled>Selecionar</option>
      <option value="lesão grave">Febre</option>
      <option value="lesão grave">Febre (T. axilar >= 38,5) em imunocompetentes e com toxemia</option>
      <option value="lesão grave">Febre (T. axilar >= 38,5) em imunocompetentes e sem toxemia</option>
    </select>
   </div>
   <div class="qualificador">
      <h3>DOR TORÁCICA</h3>
      <select name="traumaMaior" id="traumaMaior">
         <option value="" disabled>Selecionar</option>
        <option value="lesão grave">Dor intensa (8-10/10)</option>
        <option value="lesão grave">Dor moderada (4-7/10)</option>
        <option value="lesão grave">Dados vitais normais</option>
      </select>
     </div>
     <div class="qualificador">
        <h3>TCE </h3>
        <select name="tce" id="tce">
           <option value="" disabled>Selecionar</option>
          <option value="lesão grave">Perda de consciência</option>
          <option value="lesão grave">Cefaléia Moderada</option>
          <option value="lesão grave">Cefaléia leve (1-3/10)</option>
        </select>
       </div>
       <button type="submit" class="btn btn-primary">Próximo</button>
</section>


